* { /* CCS reset */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(287.56deg, #437de2 0%, #16f9c1 100%);
}
.content {
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 4px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login {
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    border-bottom: 1px solid #333;
    max-width: 260px;
    max-height: 110px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    width: 100%;
    height: 100%;
}
h3 {
    width: auto;
    padding: 20px;
    color: rgb(104, 104, 104);
    font-size: 1.5em;
}
h5 {
    margin-top: 10px;
    color: rgb(255, 0, 0);
}
input {
    width: 100%;
    height: 20px;
    padding: 1px;
    border: 2px solid rgb(77, 190, 172);
    border-radius: 5px;
    color: #333;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.login_button {
    margin-top: 5px;
    width: 25%;
    background-color: rgb(77, 190, 172);
    border: 1px solid rgb(68, 160, 145);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    max-width: 300px;
    min-width: 74px;
    padding: 2px;
}
.login_button:hover {
    background-color: rgb(68, 160, 145);
}
.login_button:disabled {
    background-color: rgb(117, 219, 202);
    cursor: auto;
}
.login_criar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    max-width: 300px;
}
.Criarlogin_button {
    margin-top: 5px;
    width: 25%;
    background-color: rgb(77, 190, 172);
    border: 1px solid rgb(68, 160, 145);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    max-width: 300px;
    padding: 2px;
}
.Criarlogin_button:hover {
    background-color: rgb(68, 160, 145);
}
.esquerda {
    margin-right: 30%;
}
p {
    padding: 20px;
}
.Tela_CriarConta{
    color: rgb(68, 160, 145);
    background-color: rgba(205, 219, 231, 0.24);
    border: none; 
    cursor: pointer;
    padding: 2px;
}
.Tela_login {
    color: rgb(68, 160, 145);
    background-color: rgba(205, 219, 231, 0.24);
    margin-top: 10px;
    margin-bottom: 10px;
    border: none; 
    cursor: pointer;
    padding: 2px;
    margin-left: 20px;
}
.Sem_login {
    color: rgb(68, 160, 145);
    background-color: rgba(205, 219, 231, 0.24);
    margin-top: 10px;
    margin-bottom: 10px;
    border: none; 
    cursor: pointer;
    padding: 2px;
    margin-left: 20px;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 46.56%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 80.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 50%;
    }
    .login_button {
        font-size: 0.6em;
        min-width: 53px;
    }
    .Criarlogin_button {
        font-size: 0.6em;
        min-width: 48px;
    }
  }